::slotted(:first-child) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  @apply overflow-hidden border border-white/30;
}

.avatar-circle {
  @apply rounded-full;
}

.avatar-rounded {
  @apply rounded-lg;
}
