.close-button {
  margin-left: var(--size-1);
  margin-right: - var(--size-1);
  display: inline-flex;
  height: var(--size-8);
  width: var(--size-8);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: var(--size-1);
  color: currentcolor;
}

.close-button > span {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.close-button > svg {
  height: var(--size-5);
  width: var(--size-5);
}
