.carousel {
  position: relative;
  width: var(--size-full);
}

.carousel-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
  display: flex;
  width: var(--size-full);
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-image {
  &.is-visible {
    opacity: 1;
  }

  &.is-hidden {
    opacity: 0;
  }
}

.carousel-button {
  position: absolute;
  top: 0;
  bottom: 0;
  width: var(--size-12);
  color: var(--color-content-body);

  &.is-left {
    left: 0;
  }

  &.is-right {
    right: 0;
  }
}

.carousel-navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  gap: var(--size-2);
  justify-content: center;
  padding-bottom: var(--size-4);
}

.carousel-navigation-item {
  width: var(--size-8);
  border-bottom: var(--border-4) solid rgb(255 255 255/ 60%);
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 700ms;
  transition-property: border-color;

  &.is-selected,
  &:hover {
    border-color: rgb(255 255 255);
  }
}
