:host {
  --carousel-timeout: 7000;
}

.carousel {
  position: relative;
  inline-size: var(--size-full);
}

.carousel-container {
  position: relative;
  display: flex;
  inline-size: var(--size-full);
  overflow-x: auto;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

::slotted(.carousel-image) {
  position: absolute;
  inline-size: var(--size-full);
  transition-timing-function: ease-in;
  transition-duration: 700ms;
  transition-property: opacity;
}

::slotted(.carousel-image.is-visible) {
  opacity: 1;
}

::slotted(.carousel-image.is-hidden) {
  opacity: 0;
}

::slotted(.carousel-image:first-child) {
  position: relative;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-control {
  position: absolute;
  inset-block: 0;
  inline-size: var(--size-12);
  color: var(--color-content-body);
  cursor: pointer;
  background-color: transparent;
  border: none;

  &.is-left {
    inset-inline-start: 0;
  }

  &.is-right {
    inset-inline-end: 0;
  }

  &.is-hidden {
    display: none;
  }
}

.carousel-navigation {
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
  display: flex;
  gap: var(--size-2);
  justify-content: center;
  list-style: none;

  &.is-hidden {
    display: none;
  }
}

.carousel-navigation-item {
  position: relative;
  width: var(--size-8);
  height: var(--size-1-5);
  overflow: hidden;
  cursor: pointer;
  background-color: rgb(255 255 255/ 60%);
  border-radius: var(--rounded-md);

  &.is-selected {
    &::after {
      position: absolute;
      inset: 0;
      display: var(--carousel-display, block);
      content: '';
      background-color: rgb(255 255 255);
      transform: translateX(-100%);
      animation: loading calc(var(--carousel-timeout) * 1ms) linear;
      animation-fill-mode: forwards;
    }
  }

  &:hover {
    background-color: rgb(255 255 255);
  }
}

@keyframes loading {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}
