.carousel {
  position: relative;
  inline-size: var(--size-full);
}

.carousel-container {
  position: relative;
  display: flex;
  inline-size: var(--size-full);
  overflow-x: auto;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-image {
  &.is-visible {
    opacity: 1;
  }

  &.is-hidden {
    opacity: 0;
  }
}

.carousel-button {
  position: absolute;
  inset-block: 0;
  inline-size: var(--size-12);
  color: var(--color-content-body);
  border: none;

  &.is-left {
    inset-inline-start: 0;
  }

  &.is-right {
    inset-inline-end: 0;
  }
}

.carousel-navigation {
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
  display: flex;
  gap: var(--size-2);
  justify-content: center;
  padding-block-end: var(--size-4);
}

.carousel-navigation-item {
  inline-size: var(--size-8);
  cursor: pointer;
  border-block-end: var(--border-4) solid rgb(255 255 255/ 60%);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 700ms;
  transition-property: border-color;

  &.is-selected,
  &:hover {
    border-color: rgb(255 255 255);
  }
}
