.carousel-image-wrapper {
  position: relative;
  display: block;
  width: var(--size-full);
}

.carousel-image {
  position: absolute;
  width: var(--size-full);
  transition-property: opacity;
  transition-timing-function: ease-in;
  transition-duration: 700ms;
}

.carousel-image:first-child {
  position: relative;
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: var(--size-8) var(--size-12);
}

.carousel-item-text-position-top {
  justify-content: start;
}

.carousel-item-text-position-middle {
  justify-content: center;
}

.carousel-item-text-position-bottom {
  justify-content: end;
}

.carousel-item-text-align-left {
  text-align: left;
}

.carousel-item-text-align-center {
  text-align: center;
}

.carousel-item-text-align-right {
  text-align: right;
}
