{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "tailwindConfig": "./packages/ui/tailwind.config.js",
  "trailingComma": "none",
  "useTabs": false
}
