.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-inline-size: var(--size-sm);
  overflow: hidden;
  background-color: var(--color-canvas);
  border: var(--border) solid var(--color-contrast-200);
  border-radius: var(--rounded-lg);
  box-shadow: var(--shadow-lg);

  &.is-horizontal {
    flex-direction: row;
  }
}
