.card {
  display: flex;
  max-width: var(--size-sm);
  justify-content: center;
  overflow: hidden;
  border-radius: var(--rounded-lg);
  border: var(--border) solid var(--color-contrast-200);
  background-color: var(--color-canvas);
  box-shadow: var(--shadow-lg);
}

.card:not(.card-horizontal) {
  flex-direction: column;
}

.card-horizontal {
  flex-direction: row;
}
