.btn {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--size-2);
  border: var(--border) solid transparent;
  text-align: center;
  font-weight: var(--font-weight-semibold);

  &:not(.is-text) {
    box-shadow: var(--shadow-sm);
  }

  &.is-rounded {
    border-radius: var(--rounded-full);
  }

  &:not(.is-rounded, .is-group) {
    border-radius: var(--rounded-lg);
  }

  &.is-block {
    width: var(--size-full);
  }

  &.is-group {
    &.is-outline {
      margin-left: -1px;
      margin-right: 0;
    }

    &.is-first {
      border-top-left-radius: var(--rounded-full);
      border-bottom-left-radius: var(--rounded-full);
    }

    &.is-last {
      border-top-right-radius: var(--rounded-full);
      border-bottom-right-radius: var(--rounded-full);
    }

    &.is-first:not(.is-rounded) {
      border-top-left-radius: var(--rounded-lg);
      border-bottom-left-radius: var(--rounded-lg);
    }

    &.is-last:not(.is-rounded) {
      border-top-right-radius: var(--rounded-lg);
      border-bottom-right-radius: var(--rounded-lg);
    }
  }

  &.is-xs {
    padding: var(--size-1) var(--size-4);
    font-size: var(--text-xs);
    line-height: var(--line-spacing-xs);

    & > svg {
      height: var(--size-3);
      width: var(--size-3);
    }
  }

  &.is-sm {
    padding: var(--size-2) var(--size-4);
    font-size: var(--text-sm);
    line-height: var(--line-spacing-sm);

    & > svg {
      height: var(--size-4);
      width: var(--size-4);
    }
  }

  &.is-md {
    padding: var(--size-3) var(--size-5);
    font-size: var(--text-md);
    line-height: var(--line-spacing-md);

    & > svg {
      height: var(--size-5);
      width: var(--size-5);
    }
  }

  &.is-lg {
    padding: var(--size-4) var(--size-5);
    font-size: var(--text-lg);
    line-height: var(--line-spacing-lg);

    & > svg {
      height: var(--size-6);
      width: var(--size-6);
    }
  }

  &.is-xl {
    padding: var(--size-4) var(--size-6);
    font-size: var(--text-xl);
    line-height: var(--line-spacing-xl);

    & > svg {
      height: var(--size-7);
      width: var(--size-7);
    }
  }

  &.is-circle:not(.is-group) {
    border-radius: var(--rounded-full);
    padding: 0;

    &.is-xs {
      height: var(--size-8);
      width: var(--size-8);
    }

    &.is-sm {
      height: var(--size-10);
      width: var(--size-10);
    }

    &.is-md {
      height: var(--size-12);
      width: var(--size-12);
    }

    &.is-lg {
      height: var(--size-14);
      width: var(--size-14);
    }

    &.is-xl {
      height: var(--size-16);
      width: var(--size-16);
    }
  }

  &.is-loading {
    color: transparent;

    &:hover {
      color: transparent;
    }

    & > svg {
      position: absolute;
      color: white;
      animation: spin 1s linear infinite;
    }

    & > svg > circle {
      opacity: 0.25;
    }

    & > svg > path {
      opacity: 0.75;
    }
  }

  &.is-disabled {
    border: var(--border) solid transparent;
    background-color: rgb(115 115 115/20%);
    color: var(--color-content-disabled);

    &.is-loading {
      color: transparent;

      & > svg {
        color: rgb(82 82 82/25%);
      }
    }
  }

  &.is-outline:not(.is-text, .is-disabled) {
    border-width: var(--border-2);
    background-color: transparent;

    &.is-primary,
    &.is-primary > svg {
      border-color: var(--color-primary);
      color: var(--color-primary);
    }

    &.is-primary:hover,
    &.is-primary:focus {
      box-shadow: var(--ring-4) var(--color-primary-focus);
    }

    &.is-error,
    &.is-error > svg {
      border-color: var(--color-error);
      color: var(--color-error);
    }

    &.is-error:hover,
    &.is-error:focus {
      box-shadow: var(--ring-4) var(--color-error-focus);
    }

    &.is-success,
    &.is-success > svg {
      border-color: var(--color-success);
      color: var(--color-success);
    }

    &.is-success:hover,
    &.is-success:focus {
      box-shadow: var(--ring-4) var(--color-success-focus);
    }

    &.is-xs {
      margin-top: var(--size-1);
      font-size: var(--text-xs);
      line-height: var(--line-spacing-xs);

      &:not(.is-circle) {
        padding: var(--size-0-5) var(--size-4);
      }
    }

    &.is-sm {
      font-size: var(--text-sm);
      line-height: var(--line-spacing-sm);

      &:not(.is-circle) {
        padding: var(--size-1-5) var(--size-4);
      }
    }

    &.is-md {
      font-size: var(--text-md);
      line-height: var(--line-spacing-md);

      &:not(.is-circle) {
        padding: var(--size-2-5) var(--size-5);
      }
    }

    &.is-lg {
      font-size: var(--text-lg);
      line-height: var(--line-spacing-lg);

      &:not(.is-circle) {
        padding: var(--size-3-5) var(--size-5);
      }
    }

    &.is-xl {
      font-size: var(--text-xl);
      line-height: var(--line-spacing-xl);

      &:not(.is-circle) {
        padding: var(--size-3-5) var(--size-6);
      }
    }

    &.is-loading,
    &.is-loading:hover {
      color: transparent;
    }
  }

  &.is-text:not(.is-outline, .is-disabled) {
    background-color: transparent;

    &.is-primary {
      color: var(--color-primary);
    }

    &.is-primary:hover {
      box-shadow: var(--ring-4) var(--color-primary-focus);
    }

    &.is-error {
      color: var(--color-error);
    }

    &.is-error:hover {
      box-shadow: var(--ring-4) var(--color-error-focus);
    }

    &.is-success {
      color: var(--color-success);
    }

    &.is-success:hover {
      box-shadow: var(--ring-4) var(--color-success-focus);
    }

    &.is-loading {
      color: transparent;
    }
  }

  &:not(.is-text, .is-outline, .is-disabled) {
    border: none;

    &.is-primary {
      background-color: var(--color-primary);
      color: var(--color-primary-contrast);
    }

    &.is-primary:hover,
    &.is-primary:focus {
      box-shadow: var(--ring-4) var(--color-primary-focus);
    }

    &.is-error {
      background-color: var(--color-error);
      color: var(--color-error-contrast);
    }

    &.is-error:hover,
    &.is-error:focus {
      box-shadow: var(--ring-4) var(--color-error-focus);
    }

    &.is-success {
      background-color: var(--color-success);
      color: var(--color-success-contrast);
    }

    &.is-success:hover,
    &.is-success:focus {
      box-shadow: var(--ring-4) var(--color-success-focus);
    }

    &.is-loading {
      color: transparent;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
