.btn {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--size-2);
  border: var(--border) solid transparent;
  text-align: center;
  font-weight: var(--font-weight-semibold);
  padding: var(--button-padding, var(--size-3) var(--size-5));
  font-size: var(--button-font-size, var(--text-md));
  line-height: var(--button-line-height, var(--line-spacing-md));

  & > svg {
    height: var(--button-icon-size, var(--size-5));
    width: var(--button-icon-size, var(--size-5));
  }

  &.is-rounded {
    border-radius: var(--rounded-full);
  }

  &:not(.is-rounded, .is-group) {
    border-radius: var(--rounded-lg);
  }

  &.is-block {
    width: var(--size-full);
  }

  &.is-group {
    &.is-outline {
      margin-left: -1px;
      margin-right: 0;
    }

    &.is-first {
      border-top-left-radius: var(--rounded-full);
      border-bottom-left-radius: var(--rounded-full);
    }

    &.is-last {
      border-top-right-radius: var(--rounded-full);
      border-bottom-right-radius: var(--rounded-full);
    }

    &.is-first:not(.is-rounded) {
      border-top-left-radius: var(--rounded-lg);
      border-bottom-left-radius: var(--rounded-lg);
    }

    &.is-last:not(.is-rounded) {
      border-top-right-radius: var(--rounded-lg);
      border-bottom-right-radius: var(--rounded-lg);
    }
  }

  &.is-xs {
    --button-icon-size: var(--size-3);
    --button-padding: var(--size-1) var(--size-4);
    --button-font-size: var(--text-xs);
    --button-line-height: var(--line-spacing-xs);
  }

  &.is-sm {
    --button-icon-size: var(--size-4);
    --button-padding: var(--size-2) var(--size-4);
    --button-font-size: var(--text-sm);
    --button-line-height: var(--line-spacing-sm);
  }

  &.is-lg {
    --button-icon-size: var(--size-6);
    --button-padding: var(--size-4) var(--size-5);
    --button-font-size: var(--text-lg);
    --button-line-height: var(--line-spacing-lg);
  }

  &.is-xl {
    --button-icon-size: var(--size-7);
    --button-padding: var(--size-4) var(--size-7);
    --button-font-size: var(--text-xl);
    --button-line-height: var(--line-spacing-xl);
  }

  &.is-circle:not(.is-group) {
    border-radius: var(--rounded-full);
    padding: 0;
    height: var(--button-size, var(--size-12));
    width: var(--button-size, var(--size-12));

    &.is-xs {
      --button-size: var(--size-8);
    }

    &.is-sm {
      --button-size: var(--size-10);
    }

    &.is-lg {
      --button-size: var(--size-14);
    }

    &.is-xl {
      --button-size: var(--size-16);
    }
  }

  &.is-loading {
    color: transparent;

    &:hover {
      color: transparent;
    }

    & > svg {
      position: absolute;
      color: white;
      animation: spin 1s linear infinite;
    }

    & > svg > circle {
      opacity: 0.25;
    }

    & > svg > path {
      opacity: 0.75;
    }
  }

  &.is-disabled {
    border: var(--border) solid transparent;
    background-color: rgb(115 115 115/20%);
    color: var(--color-content-disabled);

    &.is-loading {
      color: transparent;

      & > svg {
        color: rgb(82 82 82/25%);
      }
    }
  }

  &.is-outline:not(.is-text, .is-disabled) {
    --button-font-size: var(--text-md);
    --button-line-height: var(--line-spacing-md);

    border-width: var(--border-2);
    background-color: transparent;
    border-color: var(--button-color, var(--color-contrast-300));
    color: var(--button-color, var(--color-contrast-300));

    &:hover,
    &:focus {
      box-shadow: var(--ring-4) var(--button-color-ring, var(--color-contrast-400));
    }

    &:not(.is-circle) {
      --button-padding: var(--size-2-5) var(--size-5);
    }

    & > svg {
      color: var(--button-color, var(--color-contrast-300));
    }

    &.is-primary {
      --button-color: var(--color-primary);
      --button-color-ring: var(--color-primary-focus);
    }

    &.is-error {
      --button-color: var(--color-error);
      --button-color-ring: var(--color-error-focus);
    }

    &.is-success {
      --button-color: var(--color-success);
      --button-color-ring: var(--color-success-focus);
    }

    &.is-xs {
      margin-top: - var(--size-1);

      --button-font-size: var(--text-xs);
      --button-line-height: var(--line-spacing-xs);

      &:not(.is-circle) {
        --button-padding: var(--size-0-5) var(--size-4);
      }
    }

    &.is-sm {
      --button-font-size: var(--text-sm);
      --button-line-height: var(--line-spacing-sm);

      &:not(.is-circle) {
        --button-padding: var(--size-1-5) var(--size-4);
      }
    }

    &.is-lg {
      --button-font-size: var(--text-lg);
      --button-line-height: var(--line-spacing-lg);

      &:not(.is-circle) {
        --button-padding: var(--size-3-5) var(--size-5);
      }
    }

    &.is-xl {
      --button-font-size: var(--text-xl);
      --button-line-height: var(--line-spacing-xl);

      &:not(.is-circle) {
        --button-padding: var(--size-3-5) var(--size-7);
      }
    }

    &.is-loading,
    &.is-loading:hover {
      color: transparent;
    }
  }

  &.is-text:not(.is-outline, .is-disabled) {
    background-color: transparent;
    color: var(--button-color, var(--color-contrast-300));

    &:hover {
      box-shadow: var(--ring-4) var(--button-color-ring, var(--color-contrast-400));
    }

    &.is-primary {
      --button-color: var(--color-primary);
      --button-color-ring: var(--color-primary-focus);
    }

    &.is-error {
      --button-color: var(--color-error);
      --button-color-ring: var(--color-error-focus);
    }

    &.is-success {
      --button-color: var(--color-success);
      --button-color-ring: var(--color-success-focus);
    }

    &.is-loading {
      color: transparent;
    }
  }

  &:not(.is-text) {
    box-shadow: var(--shadow-sm);
  }

  &:not(.is-text, .is-outline, .is-disabled) {
    border: none;
    color: var(--button-color, var(--color-contrast));
    background-color: var(--button-background-color, var(--color-contrast-300));

    &:hover,
    &:focus {
      box-shadow: var(--ring-4) var(--button-color-ring, var(--color-contrast-400));
    }

    &.is-primary {
      --button-color: var(--color-primary-contrast);
      --button-background-color: var(--color-primary);
      --button-color-ring: var(--color-primary-focus);
    }

    &.is-error {
      --button-color: var(--color-error-contrast);
      --button-background-color: var(--color-error);
      --button-color-ring: var(--color-error-focus);
    }

    &.is-success {
      --button-color: var(--color-success-contrast);
      --button-background-color: var(--color-success);
      --button-color-ring: var(--color-success-focus);
    }

    &.is-loading {
      color: transparent;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
