.btn {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--size-2);
  border: var(--border) solid transparent;
  text-align: center;
  font-weight: var(--font-weight-semibold);

  &:not(.btn-text) {
    box-shadow: var(--shadow-sm);
  }

  &.btn-rounded {
    border-radius: var(--rounded-full);
  }

  &:not(.btn-rounded, .btn-group) {
    border-radius: var(--rounded-lg);
  }

  &.btn-block {
    width: var(--size-full);
  }

  &.btn-group {
    &.btn-outline {
      margin-left: -1px;
      margin-right: 0;
    }

    &.btn-group-first {
      border-top-left-radius: var(--rounded-full);
      border-bottom-left-radius: var(--rounded-full);
    }

    &.btn-group-last {
      border-top-right-radius: var(--rounded-full);
      border-bottom-right-radius: var(--rounded-full);
    }

    &.btn-group-first:not(.btn-rounded) {
      border-top-left-radius: var(--rounded-lg);
      border-bottom-left-radius: var(--rounded-lg);
    }

    &.btn-group-last:not(.btn-rounded) {
      border-top-right-radius: var(--rounded-lg);
      border-bottom-right-radius: var(--rounded-lg);
    }
  }

  &.btn-xs {
    padding: var(--size-1) var(--size-4);
    font-size: var(--text-xs);
    line-height: var(--line-spacing-xs);

    & > svg {
      height: var(--size-3);
      width: var(--size-3);
    }
  }

  &.btn-sm {
    padding: var(--size-2) var(--size-4);
    font-size: var(--text-sm);
    line-height: var(--line-spacing-sm);

    & > svg {
      height: var(--size-4);
      width: var(--size-4);
    }
  }

  &.btn-md {
    padding: var(--size-3) var(--size-5);
    font-size: var(--text-md);
    line-height: var(--line-spacing-md);

    & > svg {
      height: var(--size-5);
      width: var(--size-5);
    }
  }

  &.btn-lg {
    padding: var(--size-4) var(--size-5);
    font-size: var(--text-lg);
    line-height: var(--line-spacing-lg);

    & > svg {
      height: var(--size-6);
      width: var(--size-6);
    }
  }

  &.btn-xl {
    padding: var(--size-4) var(--size-6);
    font-size: var(--text-xl);
    line-height: var(--line-spacing-xl);

    & > svg {
      height: var(--size-7);
      width: var(--size-7);
    }
  }

  &.btn-circle:not(.btn-group) {
    border-radius: var(--rounded-full);
    padding: 0;

    &.btn-xs {
      height: var(--size-8);
      width: var(--size-8);
    }

    &.btn-sm {
      height: var(--size-10);
      width: var(--size-10);
    }

    &.btn-md {
      height: var(--size-12);
      width: var(--size-12);
    }

    &.btn-lg {
      height: var(--size-14);
      width: var(--size-14);
    }

    &.btn-xl {
      height: var(--size-16);
      width: var(--size-16);
    }
  }

  &.btn-loading {
    color: transparent;

    &:hover {
      color: transparent;
    }

    & > svg {
      position: absolute;
      color: white;
      animation: spin 1s linear infinite;
    }

    & > svg > circle {
      opacity: 0.25;
    }

    & > svg > path {
      opacity: 0.75;
    }
  }

  &.btn-disabled {
    border: var(--border) solid transparent;
    background-color: rgb(115 115 115/20%);
    color: var(--color-content-disabled);

    &.btn-loading {
      color: transparent;

      & > svg {
        color: rgb(82 82 82/25%);
      }
    }
  }

  &.btn-outline:not(.btn-text, .btn-disabled) {
    border-width: var(--border-2);
    background-color: transparent;

    &.btn-primary,
    &.btn-primary > svg {
      border-color: var(--color-primary);
      color: var(--color-primary);
    }

    &.btn-primary:hover,
    &.btn-primary:focus {
      box-shadow: var(--focus-4) var(--color-primary-focus);
    }

    &.btn-error,
    &.btn-error > svg {
      border-color: var(--color-error);
      color: var(--color-error);
    }

    &.btn-error:hover,
    &.btn-error:focus {
      box-shadow: var(--focus-4) var(--color-error-focus);
    }

    &.btn-success,
    &.btn-success > svg {
      border-color: var(--color-success);
      color: var(--color-success);
    }

    &.btn-success:hover,
    &.btn-success:focus {
      box-shadow: var(--focus-4) var(--color-success-focus);
    }

    &.btn-xs {
      margin-top: var(--size-1);
      font-size: var(--text-xs);
      line-height: var(--line-spacing-xs);

      &:not(.btn-circle) {
        padding: var(--size-0-5) var(--size-4);
      }
    }

    &.btn-sm {
      font-size: var(--text-sm);
      line-height: var(--line-spacing-sm);

      &:not(.btn-circle) {
        padding: var(--size-1-5) var(--size-4);
      }
    }

    &.btn-md {
      font-size: var(--text-md);
      line-height: var(--line-spacing-md);

      &:not(.btn-circle) {
        padding: var(--size-2-5) var(--size-5);
      }
    }

    &.btn-lg {
      font-size: var(--text-lg);
      line-height: var(--line-spacing-lg);

      &:not(.btn-circle) {
        padding: var(--size-3-5) var(--size-5);
      }
    }

    &.btn-xl {
      font-size: var(--text-xl);
      line-height: var(--line-spacing-xl);

      &:not(.btn-circle) {
        padding: var(--size-3-5) var(--size-6);
      }
    }

    &.btn-loading,
    &.btn-loading:hover {
      color: transparent;
    }
  }

  &.btn-text:not(.btn-outline, .btn-disabled) {
    background-color: transparent;

    &.btn-primary {
      color: var(--color-primary);
    }

    &.btn-primary:hover {
      box-shadow: var(--focus-4) var(--color-primary-focus);
    }

    &.btn-error {
      color: var(--color-error);
    }

    &.btn-error:hover {
      box-shadow: var(--focus-4) var(--color-error-focus);
    }

    &.btn-success {
      color: var(--color-success);
    }

    &.btn-success:hover {
      box-shadow: var(--focus-4) var(--color-success-focus);
    }

    &.btn-loading {
      color: transparent;
    }
  }

  &:not(.btn-text, .btn-outline, .btn-disabled) {
    border: none;

    &.btn-primary {
      background-color: var(--color-primary);
      color: var(--color-primary-contrast);
    }

    &.btn-primary:hover,
    &.btn-primary:focus {
      box-shadow: var(--focus-4) var(--color-primary-focus);
    }

    &.btn-error {
      background-color: var(--color-error);
      color: var(--color-error-contrast);
    }

    &.btn-error:hover,
    &.btn-error:focus {
      box-shadow: var(--focus-4) var(--color-error-focus);
    }

    &.btn-success {
      background-color: var(--color-success);
      color: var(--color-success-contrast);
    }

    &.btn-success:hover,
    &.btn-success:focus {
      box-shadow: var(--focus-4) var(--color-success-focus);
    }

    &.btn-loading {
      color: transparent;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
