details svg {
  transition: transform 0.3s ease-in-out;
}

details > summary > svg {
  inline-size: var(--size-4);
  block-size: var(--size-4);
}

details[open] svg {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display: none;
}

summary {
  display: flex;
  gap: var(--size-2);
  align-items: center;
  padding-block: var(--size-1);
  cursor: pointer;
}

.accordion-item {
  display: block;
  padding: var(--size-4);
  color: var(--color-content-body);
}
