details svg {
  transition: transform 0.3s ease-in-out;
}

details > summary > svg {
  @apply h-4 w-4;
}

details[open] svg {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display: none;
}

.accordion {
  @apply block p-4 text-content;
}

.accordion-header {
  @apply flex cursor-pointer items-center gap-2 py-1;
}
