.accordion-group {
  display: block;
  border-radius: var(--rounded-lg);
  padding: var(--size-2) var(--size-1);

  &.is-primary {
    border: var(--border) solid var(--color-contrast-200);
    background-color: var(--color-canvas);
  }

  &.is-secondary,
  &.is-tertiary {
    background-color: transparent;
  }
}

.accordion-group-item {
  &.is-primary,
  &.is-tertiary {
    display: block;
    border-bottom: var(--border) solid var(--color-contrast-200);
  }

  &.is-secondary {
    margin-bottom: var(--size-2);
    display: block;
    border-radius: var(--rounded-lg);
    border: var(--border) solid var(--color-contrast-200);
    background-color: var(--color-canvas);
  }
}
