ui-accordion::part(container) {
  display: block;
  padding: var(--size-2) var(--size-1);
  border-radius: var(--rounded-lg);
}

ui-accordion::part(-primary) {
  background-color: var(--color-canvas);
  border: var(--border) solid var(--color-contrast-200);
}

::slotted([data-variant='primary']:not(:last-child)),
::slotted([data-variant='tertiary']:not(:last-child)) {
  display: block;
  border-bottom: var(--border) solid var(--color-contrast-200);
}

ui-accordion::part(-secondary) {
  background-color: transparent;
}

::slotted([data-variant='secondary']) {
  display: block;
  margin-bottom: var(--size-2);
  background-color: var(--color-canvas);
  border: var(--border) solid var(--color-contrast-200);
  border-radius: var(--rounded-lg);
}

ui-accordion::part(-tertiary) {
  background-color: transparent;
}
