.accordion {
  display: block;
  padding-block: var(--size-2);
  padding-inline: var(--size-1);
  border-radius: var(--rounded-lg);
}

.is-primary {
  background-color: var(--color-canvas);
  border: var(--border) solid var(--color-contrast-200);
}

::slotted([data-variant='primary']:not(:last-child)),
::slotted([data-variant='tertiary']:not(:last-child)) {
  display: block;
  border-block-end: var(--border) solid var(--color-contrast-200);
}

.is-secondary {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  background-color: transparent;
}

::slotted([data-variant='secondary']) {
  display: block;
  margin-block-end: var(--size-2);
  background-color: var(--color-canvas);
  border: var(--border) solid var(--color-contrast-200);
  border-radius: var(--rounded-lg);
}

.is-tertiary {
  background-color: transparent;
}
