@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .alert {
    @apply flex justify-between items-center py-2 px-4 text-sm border rounded-xl shadow-sm;

    &.alert {
      @apply text-content bg-contrast-50 border-contrast-300;
    }

    &.alert-error {
      @apply text-error-content bg-error-backdrop border-error-focus;
    }

    &.alert-success {
      @apply text-success-content bg-success-backdrop border-success-focus;
    }

    &.alert-info {
      @apply text-primary-content bg-primary-backdrop border-primary-focus;
    }

    &.alert-contrast {
      @apply text-contrast-50 bg-contrast-800 border-contrast-700;
    }
  }

  .btn {
    @apply inline-flex flex-wrap items-center justify-center text-center font-semibold border-transparent shadow-sm rounded-lg;

    &.btn-rounded {
      @apply rounded-full;
    }

    &.btn-block {
      @apply w-full;
    }

    &.btn-group {
      @apply rounded-none;

      &.btn-group-first {
        @apply rounded-l-lg;
      }

      &.btn-group-last {
        @apply rounded-r-lg mr-0;
      }
    }

    &.btn-xs {
      @apply text-xs px-4 py-1;
    }

    &.btn-sm {
      @apply text-sm px-4 py-2;
    }

    &.btn-md {
      @apply text-base px-5 py-3;
    }

    &.btn-lg {
      @apply text-lg px-5 py-4;
    }

    &.btn-xl {
      @apply text-xl px-6 py-4;
    }

    &.btn-circle {
      @apply rounded-full p-0;

      &.btn-xs {
        @apply h-8 w-8;
      }

      &.btn-sm {
        @apply h-10 w-10;
      }

      &.btn-md {
        @apply h-12 w-12;
      }

      &.btn-lg {
        @apply h-14 w-14;
      }

      &.btn-xl {
        @apply h-16 w-16;
      }
    }

    &.btn-outline:not(.btn-disabled) {
      @apply bg-transparent border-2;

      &.btn-primary,
      &.btn-primary > svg {
        @apply text-primary border-primary hover:ring-4 focus:ring-4 ring-primary-focus;
      }

      &.btn-error,
      &.btn-error > svg {
        @apply text-error border-error hover:ring-4 focus:ring-4 ring-error-focus;
      }

      &.btn-success,
      &.btn-success > svg {
        @apply text-success border-success hover:ring-4 focus:ring-4 ring-success-focus;
      }

      &.btn-xs {
        @apply text-xs mt-0.5;

        &:not(.btn-circle) {
          @apply px-4 py-0.5;
        }
      }

      &.btn-sm {
        @apply text-sm;

        &:not(.btn-circle) {
          @apply px-4 py-1.5;
        }
      }

      &.btn-md {
        @apply text-base;

        &:not(.btn-circle) {
          @apply px-5 py-2.5;
        }
      }

      &.btn-lg {
        @apply text-lg;

        &:not(.btn-circle) {
          @apply px-5 py-3.5;
        }
      }

      &.btn-xl {
        @apply text-xl;

        &:not(.btn-circle) {
          @apply px-6 py-3.5;
        }
      }

      &.btn-loading {
        @apply text-transparent hover:text-transparent;
      }
    }

    &.btn-loading {
      @apply text-transparent hover:text-transparent;

      & > svg {
        @apply text-white;
      }
    }

    &:not(.btn-outline):not(.btn-disabled) {
      &.btn-primary {
        @apply border-none text-primary-contrast bg-primary hover:ring-4 focus:ring-4 ring-primary-focus;
      }

      &.btn-error {
        @apply border-none text-error-contrast bg-error hover:ring-4 focus:ring-4 ring-error-focus;
      }

      &.btn-success {
        @apply border-none text-success-contrast bg-success hover:ring-4 focus:ring-4 ring-success-focus;
      }

      &.btn-loading {
        @apply text-transparent;
      }
    }

    &.btn-disabled {
      @apply bg-neutral-500 border-opacity-0 bg-opacity-20 text-neutral-600/25;

      &.btn-loading {
        @apply text-transparent;

        & > svg {
          @apply text-neutral-600/25;
        }
      }
    }
  }

  .box {
    @apply block text-content bg-canvas border border-contrast-200 shadow-md rounded-lg p-5;
  }
}

:root {
  --color-canvas: theme('colors.gray.50');

  --color-contrast-50: theme('colors.zinc.50');
  --color-contrast-100: theme('colors.zinc.100');
  --color-contrast-200: theme('colors.zinc.200');
  --color-contrast-300: theme('colors.zinc.300');
  --color-contrast-400: theme('colors.zinc.400');
  --color-contrast-500: theme('colors.zinc.500');
  --color-contrast-600: theme('colors.zinc.600');
  --color-contrast-700: theme('colors.zinc.700');
  --color-contrast-800: theme('colors.zinc.800');
  --color-contrast-900: theme('colors.zinc.900');

  --color-primary-backdrop: theme('colors.blue.200');
  --color-primary-focus: theme('colors.blue.300');
  --color-primary: theme('colors.blue.500');
  --color-primary-content: theme('colors.blue.700');
  --color-primary-contrast: #fff;

  --color-error-backdrop: theme('colors.red.200');
  --color-error-focus: theme('colors.red.300');
  --color-error: theme('colors.red.500');
  --color-error-content: theme('colors.red.700');
  --color-error-contrast: #fff;

  --color-success-backdrop: theme('colors.green.200');
  --color-success-focus: theme('colors.green.300');
  --color-success: theme('colors.green.500');
  --color-success-content: theme('colors.green.700');
  --color-success-contrast: #fff;

  --color-content-heading: theme('colors.gray.900');
  --color-content-body: theme('colors.gray.800');
  --color-content-secondary: theme('colors.gray.700');
  --color-content-tertiary: theme('colors.gray.500');
  --color-content-disabled: theme('colors.gray.400');
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-canvas: theme('colors.zinc.800');

    --color-contrast-50: theme('colors.zinc.900');
    --color-contrast-100: theme('colors.zinc.800');
    --color-contrast-200: theme('colors.zinc.700');
    --color-contrast-300: theme('colors.zinc.600');
    --color-contrast-400: theme('colors.zinc.500');
    --color-contrast-500: theme('colors.zinc.400');
    --color-contrast-600: theme('colors.zinc.300');
    --color-contrast-700: theme('colors.zinc.200');
    --color-contrast-800: theme('colors.zinc.100');
    --color-contrast-900: theme('colors.zinc.50');

    --color-primary-backdrop: theme('colors.blue.200');
    --color-primary-focus: theme('colors.blue.300');
    --color-primary: theme('colors.blue.500');
    --color-primary-content: theme('colors.blue.800');
    --color-primary-contrast: #fff;

    --color-error-backdrop: theme('colors.red.200');
    --color-error-focus: theme('colors.red.300');
    --color-error: theme('colors.red.500');
    --color-error-content: theme('colors.red.800');
    --color-error-contrast: #fff;

    --color-success-backdrop: theme('colors.green.200');
    --color-success-focus: theme('colors.green.300');
    --color-success: theme('colors.green.500');
    --color-success-content: theme('colors.green.800');
    --color-success-contrast: #fff;

    --color-content-heading: theme('colors.gray.50');
    --color-content-body: theme('colors.gray.200');
    --color-content-secondary: theme('colors.gray.300');
    --color-content-tertiary: theme('colors.gray.500');
    --color-content-disabled: theme('colors.gray.600');
  }
}
