.badge {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-block: var(--badge-padding-block, var(--size-0-25));
  padding-inline: var(--badge-padding-inline, var(--size-1-5));
  margin-inline: var(--size-1);
  margin-top: calc(var(--size-2-5) * -1);
  font-size: var(--badge-font-size, var(--text-md));
  font-weight: var(--font-weight-semibold);
  line-height: var(--badge-line-height, var(--line-spacing-sm));
  vertical-align: middle;
  color: var(--badge-color, var(--color-contrast-900));
  text-align: center;
  white-space: nowrap;
  background-color: var(--badge-background-color, var(--color-contrast-50));
  border: var(--badge-border, var(--border) solid var(--color-contrast-700));
  border-radius: var(--badge-border-radius, var(--rounded-md));

  &.is-xxs {
    --badge-border-radius: var(--rounded-sm);
    --badge-padding-inline: var(--size-1);
    --badge-font-size: var(--text-xxs);
    --badge-line-height: var(--line-spacing-xxs);
  }

  &.is-xs {
    --badge-padding-inline: var(--size-1);
    --badge-font-size: var(--text-xs);
    --badge-line-height: var(--line-spacing-xs);
  }

  &.is-sm {
    --badge-padding-inline: var(--size-1-5);
    --badge-font-size: var(--text-sm);
    --badge-line-height: var(--line-spacing-sm);
  }

  &.is-lg {
    --badge-padding-inline: var(--size-2);
    --badge-font-size: var(--text-lg);
    --badge-line-height: var(--line-spacing-lg);
  }

  &.is-xl {
    --badge-padding-inline: var(--size-2);
    --badge-font-size: var(--text-xl);
    --badge-line-height: var(--line-spacing-xl);
  }

  &.is-info {
    --badge-color: var(--color-primary-content);
    --badge-background-color: var(--color-primary-backdrop);
    --badge-border: var(--border) solid var(--color-primary-focus);
  }

  &.is-warning {
    --badge-color: var(--color-warning-content);
    --badge-background-color: var(--color-warning-backdrop);
    --badge-border: var(--border) solid var(--color-warning-focus);
  }

  &.is-error {
    --badge-color: var(--color-error-content);
    --badge-background-color: var(--color-error-backdrop);
    --badge-border: var(--border) solid var(--color-error-focus);
  }

  &.is-success {
    --badge-color: var(--color-success-content);
    --badge-background-color: var(--color-success-backdrop);
    --badge-border: var(--border) solid var(--color-success-focus);
  }

  &.is-contrast {
    --badge-color: var(--color-contrast-50);
    --badge-background-color: var(--color-contrast-900);
    --badge-border: var(--border) solid var(--color-contrast-300);
  }

  &.is-pill {
    --badge-border-radius: var(--rounded-full);
  }
}
