.toast-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  max-height: var(--size-screen-height);
  flex-direction: column;
  gap: var(--size-2);
  overflow: hidden;
  padding: var(--size-4);
}

.toast {
  pointer-events: auto;
  width: var(--size-96);
  max-width: var(--size-full);
  animation: fade-in-down 0.5s ease-in;
  overflow: clip;
  border-radius: var(--rounded-lg);
  border-width: var(--border);
  border-color: var(--color-contrast-200);
  font-size: var(--text-sm);
  line-height: var(--line-spacing-sm);
  box-shadow: var(--shadow-lg);
}

.toast-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--size-1) var(--size-3);

  &:not(.is-info, .is-error, .is-success, .is-contrast) {
    background-color: var(--color-canvas);
  }

  &:not(.is-info, .is-error, .is-success) {
    border-bottom: var(--border) solid rgb(163 163 163/ 25%);
  }
}

.toast-header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-2);
  font-weight: var(--font-weight-bold);

  &:not(.is-text-info, .is-text-error, .is-text-success, .is-text-contrast) {
    color: var(--color-content-heading);
  }
}

.toast-header-extra {
  display: flex;
  align-items: center;

  &:not(.is-info, .is-error, .is-success, .is-contrast) {
    color: var(--color-content-body);
  }
}

.toast-header-meta {
  font-size: var(--text-xs);
  line-height: var(--line-spacing-xs);

  &:not(.is-text-info, .is-text-error, .is-text-success) {
    color: var(--color-content-tertiary);
  }
}

.toast-content {
  overflow-wrap: break-word;
  padding: var(--size-3);

  &:not(.is-info, .is-error, .is-success, .is-contrast) {
    background-color: var(--color-canvas);
    color: var(--color-content-body);
  }

  &.is-headless {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--size-3);
  }
}

.is-info {
  background-color: var(--color-primary);
}

.is-error {
  background-color: var(--color-error);
}

.is-success {
  background-color: var(--color-success);
}

.is-contrast {
  background-color: var(--color-contrast-700);
}

.is-text-info {
  color: var(--color-primary-contrast);
}

.is-text-error {
  color: var(--color-error-contrast);
}

.is-text-success {
  color: var(--color-success-contrast);
}

.is-text-contrast {
  color: var(--color-content-contrast);
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
