.toast-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  max-height: var(--size-screen-height);
  padding: var(--size-4);
  overflow: hidden;
}

.toast {
  width: var(--size-96);
  max-width: var(--size-full);
  overflow: clip;
  font-size: var(--text-sm);
  line-height: var(--line-spacing-sm);
  border-color: var(--color-contrast-200);
  border-width: var(--border);
  border-radius: var(--rounded-lg);
  box-shadow: var(--shadow-lg);
  animation: bounce-in-left 0.7s ease-in;
  pointer-events: auto;
}

.toast-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--size-1) var(--size-3);

  &:not(.is-info, .is-error, .is-success, .is-contrast) {
    background-color: var(--color-canvas);
  }

  &:not(.is-info, .is-error, .is-success) {
    border-bottom: var(--border) solid rgb(163 163 163/ 25%);
  }
}

.toast-header-content {
  display: flex;
  flex-direction: row;
  gap: var(--size-2);
  align-items: center;
  justify-content: space-between;
  font-weight: var(--font-weight-bold);

  &:not(.is-text-info, .is-text-error, .is-text-success, .is-text-contrast) {
    color: var(--color-content-heading);
  }
}

.toast-header-extra {
  display: flex;
  align-items: center;

  &:not(.is-info, .is-error, .is-success, .is-contrast) {
    color: var(--color-content-body);
  }
}

.toast-header-meta {
  font-size: var(--text-xs);
  line-height: var(--line-spacing-xs);

  &:not(.is-text-info, .is-text-error, .is-text-success) {
    color: var(--color-content-tertiary);
  }
}

.toast-content {
  padding: var(--size-3);
  overflow-wrap: break-word;

  &:not(.is-info, .is-error, .is-success, .is-contrast) {
    color: var(--color-content-body);
    background-color: var(--color-canvas);
  }

  &.is-headless {
    display: flex;
    flex-direction: row;
    gap: var(--size-3);
    align-items: center;
    justify-content: space-between;
  }
}

.is-info {
  background-color: var(--color-primary);
}

.is-error {
  background-color: var(--color-error);
}

.is-success {
  background-color: var(--color-success);
}

.is-contrast {
  background-color: var(--color-contrast-700);
}

.is-text-info {
  color: var(--color-primary-contrast);
}

.is-text-error {
  color: var(--color-error-contrast);
}

.is-text-success {
  color: var(--color-success-contrast);
}

.is-text-contrast {
  color: var(--color-content-contrast);
}

.is-hidden {
  animation: bounce-out-left 1s ease-in;
}

@keyframes bounce-in-left {
  0% {
    transform: translate3d(200%, 0, 0);
    opacity: 0;
  }

  55% {
    transform: translate3d(20px, 0, 0);
    opacity: 1;
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  100% {
    transform: none;
  }
}

@keyframes bounce-out-left {
  10% {
    transform: translate3d(-20px, 0, 0);
    opacity: 1;
  }

  70% {
    transform: translate3d(200%, 0, 0);
    opacity: 0;
  }
}
