.layout {
  container-name: layout;
  container-type: inline-size;
}

.article {
  display: flex;
  flex-flow: column wrap;
  gap: var(--size-4);
}

.article-image {
  flex: 0 0 150px;
  aspect-ratio: 1/1;
  overflow: hidden;
  background-color: var(--color-canvas);
  border-radius: var(--rounded-md);

  slot[name='image']::slotted(img) {
    height: 100% !important;
    object-fit: cover;
  }
}

.article-header {
  position: relative;
  margin-block-end: var(--size-3);
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-spacing-2xl);
  color: var(--color-content-heading);
}

.article-content {
  flex: 1;
  color: var(--color-content-body);

  slot[name='meta']::slotted(*) {
    display: block;
    margin-block: var(--size-3) var(--size-1) !important;
    color: var(--color-content-secondary);
  }
}

.article-footer {
  margin-block-start: var(--size-3);
  color: var(--color-content-tertiary);
}

@container layout (min-width: 400px) {
  .article {
    flex-flow: row wrap;
  }

  .article-image {
    align-self: flex-start;
  }
}

@container layout (min-width: 800px) {
  .article {
    position: relative;
    min-block-size: 350px;
  }

  .article-image {
    position: relative;
    inset: 0;
    flex: unset;
    width: 100%;
    aspect-ratio: 2 / 1;

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 40%;
      content: '';
      background: linear-gradient(to bottom, transparent 0%, var(--color-canvas) 70%);
    }
  }

  .article-header {
    margin-top: calc(var(--size-20) * -1);
    margin-bottom: var(--size-16);
    font-size: var(--text-5xl);
    font-weight: 700;
    line-height: var(--line-spacing-5xl);
  }

  .article-content {
    padding-inline: var(--size-8);
  }
}
