.layout {
  max-width: var(--size-7xl);
  padding: var(--size-6);
  margin: auto;
  container-name: layout;
  container-type: inline-size;
}

.article {
  display: flex;
  flex-flow: column wrap;
  gap: var(--size-4);
}

.article-image {
  flex: 0 0 150px;
  aspect-ratio: 1/1;
  overflow: hidden;
  background-color: var(--color-canvas);
  border-radius: var(--rounded-lg);

  slot[name='image']::slotted(img) {
    height: 100% !important;
    object-fit: cover;
  }

  slot[name='image']::slotted(img:hover) {
    transform: scale(1.05);
  }
}

.article-header {
  position: relative;
  margin-block-end: var(--size-3);
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-spacing-3xl);
  color: var(--color-content-heading);
}

.article-content {
  flex: 1;
  color: var(--color-content-body);

  slot[name='meta']::slotted(*) {
    display: block;
    margin-block: var(--size-3) var(--size-1) !important;
    color: var(--color-content-secondary);
  }
}

.article-footer {
  margin-block-start: var(--size-3);
  color: var(--color-content-tertiary);
}

@container layout (min-width: 400px) {
  .article {
    flex-flow: row wrap;
  }

  .article-image {
    align-self: flex-start;
  }
}

@container layout (min-width: 800px) {
  .article {
    position: relative;
    min-block-size: 350px;
  }

  .article-image {
    position: absolute;
    flex: unset;
    width: 100%;
    aspect-ratio: 2 / 1;
    border-radius: var(--rounded-xl) var(--rounded-xl) 0 0;
    opacity: 0.25;

    &::after {
      position: absolute;
      inset: 0;
      height: var(--size-full);
      content: '';
      background: linear-gradient(to bottom, transparent 0%, var(--color-canvas) 91%);
      backdrop-filter: blur(var(--blur-2xl));
    }
  }

  .article-header {
    max-width: calc(100% - var(--size-10));
    margin-bottom: var(--size-14);
    font-size: var(--text-4xl);
    font-weight: 700;
    line-height: var(--line-spacing-5xl);

    ::slotted(*) {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .article-content {
    max-width: calc(100% - var(--size-10));
    padding: var(--size-8);
  }
}
