.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--size-2) var(--size-3) var(--size-2) var(--size-4);
  color: var(--alert-color, var(--color-content-body));
  font-size: var(--text-xs);
  line-height: var(--line-spacing-xs);
  background-color: var(--alert-background-color, var(--color-canvas));
  border: var(--border) solid var(--alert-border-color, var(--color-contrast-300));
  border-radius: var(--rounded-xl);
  box-shadow: var(--shadow-sm);

  & > span {
    font-size: var(--text-sm);
    line-height: var(--line-spacing-sm);
  }

  &.is-info {
    --alert-border-color: var(--color-primary-focus);
    --alert-background-color: var(--color-primary-backdrop);
    --alert-color: var(--color-primary-content);
  }

  &.is-error {
    --alert-border-color: var(--color-error-focus);
    --alert-background-color: var(--color-error-backdrop);
    --alert-color: var(--color-error-content);
  }

  &.is-success {
    --alert-border-color: var(--color-success-focus);
    --alert-background-color: var(--color-success-backdrop);
    --alert-color: var(--color-success-content);
  }

  &.is-contrast {
    --alert-border-color: var(--color-contrast-600);
    --alert-background-color: var(--color-contrast-700);
    --alert-color: var(--color-content-contrast);
  }
}
