.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--rounded-xl);
  border-width: var(--border);
  padding: var(--size-2) var(--size-3) var(--size-2) var(--size-4);
  font-size: var(--text-xs);
  line-height: var(--line-spacing-xs);
  box-shadow: var(--shadow-sm);
}

.alert > span {
  font-size: var(--text-sm);
  line-height: var(--line-spacing-sm);
}

.alert:not(.is-info, .is-error, .is-success, .is-contrast) {
  border-color: var(--color-contrast-300);
  background-color: var(--color-canvas);
  color: var(--color-content-body);
}

.is-info {
  border-color: var(--color-primary-focus);
  background-color: var(--color-primary-backdrop);
  color: var(--color-primary-content);
}

.is-error {
  border-color: var(--color-error-focus);
  background-color: var(--color-error-backdrop);
  color: var(--color-error-content);
}

.is-success {
  border-color: var(--color-success-focus);
  background-color: var(--color-success-backdrop);
  color: var(--color-success-content);
}

.is-contrast {
  border-color: var(--color-contrast-600);
  background-color: var(--color-contrast-700);
  color: var(--color-content-contrast);
}
